/*

Orange Color CSS
Version: 1.0
Author: kantbtrue
Author URI: https://twitter.com/kantbtrue

*/

/* Link */
a {
	color: #ff9b21;
}
a:hover,
a:focus {
	color: #ff8601;
}
a.text-primary:hover,
a.text-primary:focus {
	color: #ff8601!important;
}
a.bg-primary:hover,
a.bg-primary:focus {
	background-color: #ff8601!important;
	color: #ffffff;
}
a.text-secondary:hover,
a.text-secondary:focus {
	color: #001544!important;
}
a.bg-secondary:hover,
a.bg-secondary:focus {
	background-color: #001544!important;
	color: #ffffff;
}
a.text-white:hover,
a.text-white:focus {
	color: #ffffff!important;
}
a.text-black:hover,
a.text-black:focus {
	color: #000000;
}
a.text-dark-gray:hover,
a.text-dark-gray:focus {
	color: #000000;
}
a.text-gray:hover,
a.text-gray:focus {
	color: #555555;
}

/* Text */
.text-primary {
	color: #ff9b21!important;
}
.text-secondary {
	color: #002166!important;
}
.text-black {
	color: #3b566e;
}
.text-body {
	color: #6f8ba4!important;
}
.text-dark-gray {
	color: #555555;
}
.text-gray {
	color: #a9a9a9;
}
.text-light-gray {
	color: #f3f5f6;
}

/* Border */
.border-color-primary {
	border-color: #ff9b21!important;
}
.border-color-secondary {
	border-color: #002166!important;
}
.border-color-black {
	border-color: #000000!important;
}
.border-color-dark-gray {
	border-color: #555555!important;
}
.border-color-gray {
	border-color: #a9a9a9!important;
}
.border-color-light-gray {
	border-color: #f3f5f6!important;
}

/* Background */
.bg-primary {
	background-color: #ff9b21!important;
}
.bg-secondary {
	background-color: #002166!important;
}
.bg-black {
	background-color: #000000;
}
.bg-dark-gray {
	background-color: #555555;
}
.bg-gray {
	background-color: #a9a9a9;
}
.bg-light-gray {
	background-color: #f3f5f6;
}
.bg-light {
	background-color: #fbfdff!important;
}

/* Form */
.form-control:focus {
	border-color: #ff9b21;
	box-shadow: 0 0 0 0.2rem rgba(255, 155, 33, 0.25);
}

/* Button */
.btn-primary {
	background-color: #ff9b21;
	border-color: #ff9b21;
	color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn.btn-primary:not(:disabled):active {
	background-color: #ff8601;
	border-color: #ff8601;
	color: #ffffff;
}
.btn-secondary {
	background-color: #002166;
	border-color: #002166;
	color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn.btn-secondary:not(:disabled):active {
	background-color: #001544;
	border-color: #001544;
	color: #ffffff;
}
.btn-primary:focus,
.btn.btn-primary:not(:disabled):active:focus,
.btn-secondary:focus,
.btn.btn-secondary:not(:disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba(222, 222, 222, 0.7);
}
.btn-white {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #ff9b21;
}
.btn-white:hover,
.btn-white:focus {
	background-color: #ff9b21;
	border-color: #ffffff;
	color: #ffffff;
}
.btn-black {
	background-color: #000000;
	border-color: #000000;
	color: #ffffff;
}
.btn-black:hover,
.btn-black:focus {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #000000;
}
.btn-outline-primary {
	color: #ff9b21;
	border-color: #ff9b21;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
	background-color: #ff9b21;
	color: #ffffff;
	border-color: #ff9b21;
}
.btn-outline-secondary {
	color: #002166;
	border-color: #002166;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
	background-color: #002166;
	color: #ff9b21;
	border-color: #002166;
}
.btn-outline-white {
	color: #ffffff;
	border-color: #ffffff;
}
.btn-outline-white:hover,
.btn-outline-white:focus {
	background-color: #ffffff;
	color: #ff9b21;
	border-color: #ffffff;
}
.btn-outline-black {
	color: #000000;
	border-color: #000000;
}
.btn-outline-black:hover,
.btn-outline-black:focus {
	background-color: #000000;
	color: #ffffff;
	border-color: #000000;
}
.btn.disabled {
    background-color: #a9a9a9;
    border-color: #a9a9a9;
    color: #ffffff;
    opacity: 0.35;
}
