/* Cover */
.cover {
    background-color: #ffffff;
}
/* Header */
.logo {
    width: 230px;
    height: 27px;
    background-image: url(../images/logo.png);
    background-size: cover;
    text-indent: -9999px;
}
.header {
    padding: 30px 0;

    .nav-link {
        text-transform: uppercase;
        color: #000000;
        font-size: 18px;
        font-weight: $weight_medium;

        &.active,
        &:hover,
        &:focus {
            color: $primary_color;
        }
    }
    @media screen and (max-width: 991px) {
        .navbar-nav {
            margin-top: 16px;
            background: rgba($primary_color, 0.05);
        }
    }
    .navbar-nav .nav-link {
        padding: 10px 20px;
    }
}
.navbar-toggler {
    padding: 15px 17.32px;
    color: $primary_color;
    background: rgba($primary_color, 0.05);
    font-size: 29px;
}
/* Hero */
.hero {
    padding: 100px 0 50px;

    .hero-title {
        font-weight: $weight_light;

        strong {
            font-weight: $weight_bold;
        }
    }
    .lead {
        font-weight: $weight_normal;
    }
}
.hero-img {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    box-shadow: 0 0 33px 0 rgba(15,22,33,0.10);
}
.as-seen {
    .as-seen-title {
        font-size: 28px;
        font-weight: $weight_medium;
    }
}