/*

Color CSS
Version: 1.0
Author: kantbtrue
Author URI: https://twitter.com/kantbtrue

*/

/* Link */
a {
	color: #eb5757;
}
a:hover,
a:focus {
	color: #ec2b2b;
}
a.text-primary:hover,
a.text-primary:focus {
	color: #ec2b2b!important;
}
a.bg-primary:hover,
a.bg-primary:focus {
	background-color: #ec2b2b!important;
	color: #ffffff;
}
a.text-secondary:hover,
a.text-secondary:focus {
	color: #e6e9fb!important;
}
a.bg-secondary:hover,
a.bg-secondary:focus {
	background-color: #e6e9fb!important;
	color: #ffffff;
}
a.text-blue:hover,
a.text-blue:focus {
	color: #124CC3;
}
a.text-white:hover,
a.text-white:focus {
	color: #ffffff!important;
}
a.text-black:hover,
a.text-black:focus {
	color: #000000;
}
a.text-dark-gray:hover,
a.text-dark-gray:focus {
	color: #000000;
}
a.text-gray:hover,
a.text-gray:focus {
	color: #555555;
}

/* Text */
.text-primary {
	color: #eb5757!important;
}
.text-secondary {
	color: #f9c8c8!important;
}
.text-black {
	color: #000000;
}
.text-blue {
	color: #6D76F7;
}
.text-dark-gray {
	color: #555555;
}
.text-gray {
	color: #a9a9a9;
}
.text-light-gray {
	color: #f3f5f6;
}

/* Border */
.border-color-primary {
	border-color: #eb5757!important;
}
.border-color-secondary {
	border-color: #f9c8c8!important;
}
.border-color-black {
	border-color: #000000!important;
}
.border-color-blue {
	border-color: #6D76F7!important;
}
.border-color-dark-gray {
	border-color: #555555!important;
}
.border-color-gray {
	border-color: #a9a9a9!important;
}
.border-color-light-gray {
	border-color: #f3f5f6!important;
}

/* Background */
.bg-primary {
	background-color: #eb5757!important;
}
.bg-secondary {
	background-color: #f9c8c8!important;
}
.bg-black {
	background-color: #000000;
}
.bg-blue {
	background-color: #78ccfb;
}
.bg-dark-gray {
	background-color: #555555;
}
.bg-gray {
	background-color: #a9a9a9;
}
.bg-light-gray {
	background-color: #f3f5f6;
}
.bg-light {
	background-color: #fff9f7!important;
}

/* Form */
.form-control:focus {
	border-color: #eb5757;
	box-shadow: 0 0 0 0.2rem rgba(235, 87, 87, 0.25);
}

/* Button */
.btn-primary {
	background-color: #eb5757;
	border-color: #eb5757;
	color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn.btn-primary:not(:disabled):active {
	background-color: #ec2b2b;
	border-color: #ec2b2b;
	color: #ffffff;
}
.btn-secondary {
	background-color: #f9c8c8;
	border-color: #f9c8c8;
	color: #eb5757;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn.btn-secondary:not(:disabled):active {
	background-color: #e6e9fb;
	border-color: #e6e9fb;
	color: #eb5757;
}
.btn-blue {
	background-color: #6D76F7;
	border-color: #6D76F7;
	color: #ffffff;
}
.btn-blue:hover,
.btn-blue:focus,
.btn.btn-blue:not(:disabled):active {
	background-color: #124CC3;
	border-color: #124CC3;
	color: #ffffff;
}
.btn-primary:focus,
.btn.btn-primary:not(:disabled):active:focus,
.btn-secondary:focus,
.btn.btn-secondary:not(:disabled):active:focus,
.btn-blue:focus,
.btn.btn-blue:not(:disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba(222, 222, 222, 0.7);
}
.btn.disabled {
    background-color: #a9a9a9;
    border-color: #a9a9a9;
    color: #ffffff;
    opacity: 0.35;
}
