$primary_color:   #29c4a9;
$secondary_color: #5b64f7;
$primary_font:    'Roboto', sans-serif;
$weight_light:    300;
$weight_normal:   400;
$weight_medium:   500;
$weight_bold:     700;
$space_sm:        15px;
$space_md:        $space_sm*2;
$space_lg:        $space_md*2;