$primary_color:    #ff3a55;
$secondary_color:  #4153b6;
$light_gray_color: #b5b5b5;
$primary_font:     'PT Sans', sans-serif;
$weight_normal:    400;
$weight_bold:      700;
$space_sm:         15px;
$space_md:         $space_sm*2;
$space_lg:         $space_md*2;