/* Feature */
.feature {
    .title span {
        color: $light_gray_color;
        font-weight: $weight_light;
    }
    .feature-img {  
        border: 1px solid rgba(0, 0, 0, 0.06);
        border-radius: 6px;
        box-shadow: 0 0 33px 0 rgba(15,22,33,0.10);
    }
}